@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1c3621;
    color: #FFF;
}

.blurb {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h2 {
color: #42b983;
}

.install {
background-color: #f5f5f5;
color: black;
padding: 10px;
border-radius: 4px;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	
    padding: 2rem;
	height: 100vh;
}

h1 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.quiz {
	background-color: #414d43;
    border-radius: 15px;
	padding: 1rem;
    
	width: 100%;
	max-width: 640px;
}

.quiz-info {
	display: flex;
	justify-content: space-between;
	
    margin-bottom: 1rem;
}

.quiz-info .question {
    color: #FFF; 
    font-size: 1.25rem;
    font-weight: 800;
}

.quiz-info .question .code {
    font-size: 1rem;
    font-family: 'Roboto', monospace;
    
    background-color: #000000; 
    color: #ffffff;

    padding: 10px; 
    border-radius: 5px; 
    overflow: auto;
}

.quiz-info.score {
	color: #FFF;
	font-size: 1.25rem;
}

.options {
	margin-bottom: 1rem;
}

.option {
	padding: 1rem;
	display: block;
	background-color: #838f84;
	margin-bottom: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
    
    transition: background-color 0.2s ease-in-out;
}

.option:hover {
	background-color: #436838;
}

.option.correct {
	background-color: #2cce7d;
}

.option.wrong {
	background-color: #ff5a5f;
}

.option:last-of-type {
	margin-bottom: 0;
}

.option.disabled {
	opacity: 0.5;
}

.option input {
	display: none;
}

button {
	appearance: none;
	outline: none;
	border: none;
	
    cursor: pointer;
    padding: 0.5rem 1rem;

    background-color: #2cce7d;
    color: #ffffff;
    
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    
    border-radius: 0.5rem;
}

.align {
	margin: 20px auto;
	padding: 10px;

	display: block;
}

button:disabled {
	opacity: 0.5;
}

h2 {
	font-size: 2rem;
	
    margin-bottom: 2rem;
    text-align: center;
}

p {
	color: #8F8F8F;
	font-size: 1.5rem;
	text-align: center;
}

.correct-answer {
	color: #000000;
	font-weight: bolder;
}
